
<% if params[:section_id] %>

  <% @path = "/sections/#{params[:section_id]||@task.section.id}/tasks/" %>
  <%= simple_form_for(@task, url: @path, method: :post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :priority %>
      <%= f.input :status %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

<% else %>

  <%= simple_form_for(@task) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :priority %>
      <%= f.input :status %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

<% end %>