<div class="max-w-md mx-auto px-6">
  <div class="relative flex flex-wrap">
    <div class="w-full relative">
      <div class="md:mt-6 mt-2">
        <div class="text-center font-semibold text-black">
          Change your password
        </div>

        <% label_classlist = "px-1 text-sm text-gray-600" %>

        <% input_classlist = 'text-md block px-3 py-2 rounded-lg w-full
                            bg-gray-100 border-2 border-gray-200 shadow-md
                            focus:bg-white focus:border-gray-400
                            focus:outline-none hover:shadow-lg hover:border-gray-300
                            transition duration-300' %>

        <% error_classlist = "text-sm text-gray-800 block px-2 py-1 m-2 w-7/12
                              bg-red-400 rounded shadow-sm" %>        

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),
                            html: {
                              method: :put,
                              class: "mt-4", "x-data"=>"{password: '', password_confirm: ''}"
                            },
                            defaults: {
                              wrapper: false,
                              label_html: { class: label_classlist },
                              input_html: { class: input_classlist },
                              error_html: { class: error_classlist }
                            }) do |f| %>
          <div class="mx-auto max-w-lg">
            <%= f.error_notification %>

            <%= f.input :reset_password_token, as: :hidden %>
            <%= f.full_error :reset_password_token %>

            <div class="py-1">
              <%= f.input :password,
                          required: true,
                          label: 'New password',
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="py-1">
              <%= f.input :password_confirmation,
                          required: true,
                          label: 'Confirm new password',
                          input_html: {
                            autocomplete: "new-password",
                            "x-model"=> "password" } %>
            </div>

          </div>
          <div class="form-actions">
            <% button_classlist = 'mt-3 text-lg font-semibold bg-gray-800
                                   w-full text-white rounded-lg px-6 py-3
                                   shadow-xl hover:text-white hover:bg-black
                                   block' %>
            <%= f.button :submit, "Change password", class: button_classlist %>
          </div>

        <% end %>

      <div class="devise-links my-2">
        <%= render "devise/shared/links" %>      
      </div>
    </div>
  </div>
</div>

