<div class="max-w-md mx-auto px-6">
  <div class="relative flex flex-wrap">
    <div class="w-full relative">
      <div class="md:mt-6 mt-2">
      
        <div class="back-btn-parent static h-0 w-0">
          <div class="back-btn-wrapper absolute p-1">
            <% btn_classlist = 'text-sm text-gray-200 rounded py-2 px-3
                                shadow-sm hover:shadow-md bg-indigo-400
                                hover:bg-indigo-500 transition duration-300' %>
            <%= link_to 'Back', @project || @section.project, class: btn_classlist %>
          </div>
        </div>

        <div class="text-center text-lg font-semibold text-black">
          <% unless Section.exists? section.id %>
            New section
          <% else %>
            Edit section
          <% end %>
        </div>
      </div>

      <% label_classlist = 'px-1 text-sm text-gray-600' %>
      <% input_classlist = 'text-md block px-3 py-2 rounded-lg w-full
                            bg-gray-100 border-2 border-gray-200 shadow-md
                            focus:bg-white focus:border-gray-400
                            focus:outline-none hover:shadow-lg hover:border-gray-300
                            transition duration-300' %>
      <% error_classlist = 'text-sm text-gray-800 block px-2 py-1 m-2 w-7/12
                            bg-red-400 rounded shadow-sm' %>

      <% path = "/projects/#{params[:project_id]||@section.project.id}/sections/" %>

      <% form_params = [] %>

      <% if current_page?(action: 'new') %>

        <%= simple_form_for(@section, html: { class: 'mt-4' },
                            url: path,
                            method: :post,
                            defaults: {
                              wrapper: false,
                              label_html: { class: label_classlist },
                              input_html: { class: input_classlist },
                              error_html: { class: error_classlist }
                            }) do |f| %>

          <div class="mx-auto max-w-lg">
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="py-1">
              <%= f.input :name, required: true %>
            </div>

            <div class="py-1">
              <%= f.input :description, required: true, input_html: {
                          class: "#{input_classlist} resize-none text-sm h-24 mb-1" } %>
            </div>

            <% dropdown_classlist = 'relative bg-transparent text-sm' %>
            <div class="py-1 flex justify-between rounded-lg w-full
                            bg-gray-100 border-2 border-gray-200 shadow-md
                            focus:bg-white focus:border-gray-400
                            focus:outline-none hover:shadow-lg hover:border-gray-300
                            transition duration-300">
              <div class="flex pr-3">
                <%= f.input :status,
                            selected: true,
                            collection: Section::STATUS_OPTIONS,
                            input_html: {
                              class: dropdown_classlist
                            } %>
              </div>

              <div class="flex pl-3">                          
                <%= f.input :priority,
                            selected: true,
                            collection: Section::PRIORITY_OPTIONS,
                            input_html: {
                              class: dropdown_classlist
                            } %>
              </div>

            </div>

          </div>

          <div class="form-actions">
            <% button_classlist = 'mt-3 text-lg font-semibold bg-gray-800
                                   w-full text-gray-200 rounded-lg px-6 py-3
                                   shadow-xl hover:text-gray-100 hover:bg-black
                                   block transition duration-300' %>
            <%= f.button :submit, "Create", class: button_classlist %>
          </div>

        <% end %>

      <% elsif current_page?(action: 'edit') %>

        <%= simple_form_for(@section, html: { class: 'mt-4' },
                            defaults: {
                              wrapper: false,
                              label_html: { class: label_classlist },
                              input_html: { class: input_classlist },
                              error_html: { class: error_classlist }
                            }) do |f| %>

          <div class="mx-auto max-w-lg">
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="py-1">
              <%= f.input :name, required: true %>
            </div>

            <div class="py-1">
              <%= f.input :description, required: true, input_html: {
                          class: "#{input_classlist} resize-none text-sm h-24 mb-1" } %>
            </div>

            <% dropdown_classlist = 'relative bg-transparent text-sm' %>
            <div class="py-1 flex justify-between rounded-lg w-full
                            bg-gray-100 border-2 border-gray-200 shadow-md
                            focus:bg-white focus:border-gray-400
                            focus:outline-none hover:shadow-lg hover:border-gray-300
                            transition duration-300">
              <div class="flex pr-3">
                <%= f.input :status,
                            selected: true,
                            collection: Section::STATUS_OPTIONS,
                            input_html: {
                              class: dropdown_classlist
                            } %>
              </div>

              <div class="flex pl-3">                          
                <%= f.input :priority,
                            selected: true,
                            collection: Section::PRIORITY_OPTIONS,
                            input_html: {
                              class: dropdown_classlist
                            } %>
              </div>

            </div>

          </div>

          <div class="form-actions">
            <% submit_text = current_page?(action: 'new') ? 'Create' : "Submit changes" %>
            <% button_classlist = 'mt-3 text-lg font-semibold bg-gray-800
                                   w-full text-gray-200 rounded-lg px-6 py-3
                                   shadow-xl hover:text-gray-100 hover:bg-black
                                   block transition duration-300' %>
            <%= f.button :submit, submit_text, class: button_classlist %>
          </div>

        <% end %>

      <% end %>

    </div>  
  </div>
</div>