<section>
  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @project.status %>
  </p>
</section>

<article class="sections_wrapper">
  <span>
  <strong>Sections</strong> |
    <% add_section_path = "/projects/#{@project.id}/sections/new" %>
    <%= link_to 'Add Section', add_section_path,
                class:"" %>
  </span>
  <%= render partial: 'sections/section', collection: @project.sections %>

</article>

<hr>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>