<div class="max-w-sm mx-auto px-6">
  <div class="relative flex flex-wrap">
    <div class="w-full relative">
      <div class="md:mt-6">
        <div class="text-center font-semibold text-black">
          Sign in
        </div>
        <div class="text-center font-base text-black">
          Get your projects finished!
        </div>

        <% label_classlist = "px-1 text-sm text-gray-600" %>

        <% input_classlist = 'text-md block px-3 py-2 rounded-lg w-full
                                bg-white border-2 border-gray-300 shadow-md
                                focus:placeholder-gray-500 focus:bg-white
                                focus:border-gray-600 focus:outline-none
                                placeholder-gray-600' %>

        <% error_classlist = "text-sm text-gray-800 block px-2 py-1 m-2 w-7/12
                              bg-red-400 rounded shadow-sm" %>        

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
                            html: { class: "mt-4", "x-data"=>"{password: '', password_confirm: ''}" },
                            defaults: {
                              wrapper: false,
                              label_html: { class: label_classlist },
                              input_html: { class: input_classlist },
                              error_html: { class: error_classlist }
                            }) do |f| %>
          <div class="mx-auto max-w-lg">
            <%= f.error_notification %>

            <div class="py-1">
              <%= f.input :email, required: true, input_html: { autocomplete: "email" } %>
            </div>

            <div class="py-1">
              <%= f.input :password, required: true,
                          input_html: {
                            autocomplete: "new-password",
                            "x-model"=> "password" } %>
            </div>

          </div>
          <div class="form-actions">
            <% button_classlist = 'mt-3 text-lg font-semibold bg-gray-800
                                   w-full text-white rounded-lg px-6 py-3
                                   shadow-xl hover:text-white hover:bg-black
                                   block' %>
            <%= f.button :submit, "Login", class: button_classlist %>
          </div>

        <% end %>

      <div class="devise-links my-2">
        <%= render "devise/shared/links" %>      
      </div>
    </div>
  </div>
</div>
