<nav class="bg-gray-600 text-gray-200">
  <div class="max-w-6xl px-8 py-2 mx-auto">
    <div class="flex justify-between">
      <div class="logo">
        <%= link_to root_path, class: 'flex items-center px-3 py-2' do %>
          <svg class="h-6 w-6 mr-1 text-indigo-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
          </svg>
          <span>Finish This</span>
        <% end %>
      </div>
      
      <div class="hidden md:flex items-center space-x-8">
        <div>
          <%= link_to 'New project', new_project_path, class: 'px-3 py-2 bg-indigo-400 hover:bg-indigo-500 rounded transition duration-300' %>
        </div>

        <div class="flex items-center space-x-1">
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'px-3 py-2' %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: 'px-3 py-2 hover:text-gray-400 transition duration-300 hover:shadow' %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'px-3 py-2 bg-gray-200 text-gray-800 hover:bg-gray-300 hover:text-gray-900 rounded transition duration-300' %>
          <% end %>
        </div>
      </div>

      <!-- Mobile button -->
      <div class="md:hidden flex items-center">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>

    </div>
  </div>
  <!-- Mobile Menu -->
  <div id="mobileMenuTarget">

  </div>
</nav>