<!DOCTYPE html>
<html>
  <head>
    <title>Finish This</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet"> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" %>
  </head>

  <body>
    <div class="wrapper h-screen w-screen m-0 p-0 bg-blue-300 overflow-auto">
    
    <%= render 'layouts/flash' %>

    <%= render 'layouts/navbar' %>
    
    
    <div class="flex flex-no-wrap justify-stretch bg-blue-300">    
    <%= render 'layouts/sidebar' %>
        <div class="w-full">
          <%= yield %>
        </div>
      </div>
    </div>

    </div>
  </body>
</html>
